p {
  font-size: 1.2em;
}
.positive {
  color: green;
}
.negative {
  color: red;
}
.right-border {
  border-right: 1px solid #ddd;
}
table {
  padding: 10px;
}
.year-table {
  width: 100%;
  padding-left: 10px;
}