<h3>Rental Info</h3>
<form [formGroup]="rentalInfoForm" novalidate>
  <div class="form-group required">
    <label for="numUnits">Number of Units</label>
    <select name="numUnits" formControlName="numUnits"
      [(ngModel)]="rentalInfo.numUnits">
      <option *ngFor="let units of unitOptions" [value]="units">
        {{units}}
      </option>
    </select>
  </div>
  <div class="form-group required">
    <label for="unit">Monthly Unit Rents</label>
    <input type="number" *ngFor="let name of unitNames; let idx = index"
      [formControlName]="unitNames[idx]" [(ngModel)]="rentalInfo.rents[idx]"
  </div>
</form>
