<form [formGroup]="purchaseInfoForm" novalidate>
  <div class="form-group row form-group-sm">
    <div class="col-sm-3" [class.has-error]="hasError('purchasePrice')">
      <label class="control-label" for="purchasePrice">Purchase Price</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" formControlName="purchasePrice"
          name="purchasePrice" [(ngModel)]="purchaseInfo.purchasePrice"
          (blur)="update()"
          class="form-control required-bar" [class.required-error-bar]="hasError('purchasePrice')" />
      </div>
    </div>
    <div class="col-sm-3" [class.has-error]="hasError('closingCosts')">
      <label for="closingCosts">Closing Costs</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" formControlName="closingCosts"
          name="closingCosts" [(ngModel)]="purchaseInfo.closingCosts"
          (blur)="update()"
          class="form-control required-bar" [class.required-error-bar]="hasError('closingCosts')" />
      </div>
    </div>
    <div class="col-sm-3" [class.has-error]="hasError('repairCosts')">
      <label for="repairCosts">Repair Costs</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" formControlName="repairCosts"
          name="repairCosts" [(ngModel)]="purchaseInfo.repairCosts"
          (blur)="update()"
          class="form-control required-bar" [class.required-error-bar]="hasError('repairCosts')" />
      </div>
    </div>
    <div class="col-sm-3" [class.has-error]="hasError('arv')">
      <label for="arv">ARV</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" formControlName="arv"
          name="arv" [(ngModel)]="purchaseInfo.arv"
          (blur)="update()"
          class="form-control required-bar" [class.required-error-bar]="hasError('arv')" />
      </div>
    </div>
  </div>
  <div class="form-group row form-group-sm">
    <div class="col-sm-3">
      <div class="summary-header">Total Cost</div>
      <div>{{summaryInfo.totalCost || '$ 0'}}</div>
    </div>
  </div>

  <hr/>
  <div class="form-group row form-group-sm">
    <div class="col-sm-3" [class.has-error]="hasError('downPmtPct')">
      <label for="downPmtPct">Downpayment</label>
      <div class="input-group">
        <input type="number" formControlName="downPmtPct"
          name="downPmtPct" [(ngModel)]="purchaseInfo.loanInfo.downPmtPct"
          (blur)="update()"
          class="form-control required-bar" [class.required-error-bar]="hasError('downPmtPct')" />
        <span class="input-group-addon">%</span>
      </div>
      <div [hidden]="!hasError('downPmtPct')" class="alert alert-danger">
        {{ percentErrorMsg }}
      </div>
    </div>
    <div class="col-sm-3" [class.has-error]="hasError('interestRate')">
      <label for="interestRate">Interest Rate</label>
      <div class="input-group">
        <input type="number" formControlName="interestRate"
          name="interestRate" [(ngModel)]="purchaseInfo.loanInfo.interestRate"
          (blur)="update()"
          class="form-control required-bar" [class.required-error-bar]="hasError('interestRate')" />
        <span class="input-group-addon">%</span>
      </div>
      <div [hidden]="!hasError('interestRate')" class="alert alert-danger">
        {{ percentErrorMsg }}
      </div>
    </div>
    <div class="col-sm-3" [class.has-error]="hasError('loanTerm')">
      <label for="loanTerm">Loan Term</label>
      <div class="input-group">
        <input type="number" formControlName="loanTerm"
          name="loanTerm" [(ngModel)]="purchaseInfo.loanInfo.loanTerm"
          (blur)="update()"
          class="form-control required-bar" [class.required-error-bar]="hasError('loanTerm')" />
        <span class="input-group-addon">yrs</span>
      </div>
    </div>
  </div>
  <div class="form-group row form-group-sm">
    <div class="col-sm-3">
      <div class="summary-header">Downpayment Amount</div>
      <div class="summary-info">{{summaryInfo.downPmtAmt || '$ 0'}}</div>
    </div>
    <div class="col-sm-3">
      <div class="summary-header">Loan Amount</div>
      <div class="summary-info">{{summaryInfo.loanAmt || '$ 0'}}</div>
    </div>
    <div class="col-sm-3">
      <div class="summary-header">Loan Payment</div>
      <div class="summary-info">{{summaryInfo.loanPmtAmt || '$ 0'}}</div>
    </div>
  </div>
</form>
