/* You can add global styles to this file, and also import other style files */
@import "~/bootstrap/dist/css/bootstrap.min.css";
body {
  padding-bottom: 10%;
}
.required-bar {
  border-right: 5px solid #42A948;
}
.required-error-bar {
  border-right: 5px solid #ff0000;
}